:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container {
  margin: 0 auto;
  max-width: 1050px;
}

h1,
h2,
h3 {
  font-weight: 500;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px 24px 36px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.contact-link {
  border-radius: 4px;
  padding: 20px 15px;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  border-radius: 4px;
  padding: 20px 15px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.app-btn {
  text-decoration: none;
  padding: 12px 16px;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.projects {
  display: flex;
  flex-direction: row;
}

@media (max-width: 900px) {
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 36px;
  }

  .projects {
    display: flex;
    flex-direction: column;
  }
}
